
@{
    ViewBag.Title = "Xacnhandonhang";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Don hang cua quy khach da duoc chung toi ghi nhan. Chung toi se lien he quy khach trong thoi gian som nhat va giao hang dung hen</h2>
<p>
    @Html.ActionLink("VE TRANG CHU","Index","BookStore")
</p>

